*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.apk

\.idea/caches/build_file_checksums\.ser

app/release/

\.idea/
\.gradle/
